.fade-scale,
.fade-scale--translated {
  &-enter-active {
    transition: all 2s ease;
  }

  &-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
}

.fade-scale {
  &-enter,
  &-leave-to {
    opacity: 0;
    transform: scale(.8) !important;
  }
}

.fade-scale--translated {
  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateX(-50%) scale(.8) !important;
  }
}

