// DrukText
@font-face {
  font-family: "DrukText-Medium";
  src: url("~@/assets/fonts/Druk/DrukText-Medium.otf");
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: "DrukText-MediumItalic";
  src: url("~@/assets/fonts/Druk/DrukText-MediumItalic.otf");
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: "DrukText-Bold";
  src: url("~@/assets/fonts/Druk/DrukText-Bold.otf");
  font-style:   normal;
  font-weight:  normal;
}



// DrukWide
@font-face {
  font-family: "DrukWide-Medium";
  src: url("~@/assets/fonts/Druk/DrukWide-Medium.otf");
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: "DrukWide-Super";
  src: url("~@/assets/fonts/Druk/DrukWide-Super.otf");
  font-style:   normal;
  font-weight:  normal;
}
