@font-face {
  font-family: "Druk-WideMedium";
  src: url("/fonts/Druk/Druk-WideMedium.otf");
  font-style:   normal;
  font-weight:  normal;
 }

@font-face {
  font-family: "Druk-WideSuper";
  src: url("/fonts/Druk/Druk-WideSuper.otf");
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: "DrukText-Bold";
  src: url("/fonts/Druk/DrukText-Bold.otf");
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: "DrukText-Super";
  src: url("/fonts/Druk/DrukText-Super.otf");
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: "DrukText-MediumItalic";
  src: url("/fonts/Druk/DrukText-MediumItalic.otf");
  font-style:   normal;
  font-weight:  normal;
}