@font-face {
  font-family: "Druk-WideMedium";
  src: url("/fonts/Druk/Druk-WideMedium.otf") format("opentype"),
 }

@font-face {
  font-family: "Druk-WideSuper";
  src: url("/fonts/Druk/Druk-WideSuper.otf") format("opentype"),
}

@font-face {
  font-family: "DrukText-Bold";
  src: url("/fonts/Druk/DrukText-Bold.otf") format("opentype"),
}

@font-face {
  font-family: "DrukText-Super";
  src: url("/fonts/Druk/DrukText-Super.otf") format("opentype"),
}

@font-face {
  font-family: "DrukText-MediumItalic";
  src: url("/fonts/Druk/DrukText-MediumItalic.otf") format("opentype"),
}