@import "./components/cta";
@import "./components/dat.gui";
@import "./font-faces/druk";

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  overflow: hidden;
  line-height: inherit !important;
}

p, a {
  font-family: "DrukText-Medium" !important;
}

a {
  color: getColor(basics, black) !important;
  text-decoration: none !important;
}