@import "./components/cta";
@import "./components/dat.gui";

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  overflow: hidden;
}

a {
  color: getColor(basics, black) !important;
  text-decoration: none !important;
}