.overlay-enter-active {
  transition: transform 1.7s cubic-bezier(0.82, 0.04, 0, 1.04);
}
.overlay-leave-active {
  transition: transform 2s cubic-bezier(0.82, 0.04, 0, 1.04);
}

$size: 110vh;
.overlay-enter {
  transform: translateY($size);
}
.overlay-leave-to {
  transform: translateY(-$size);
}
