@mixin letterBounce($duration: 5s, $delay: 0s, $bounce-out: false) {
  $animation-name: "";
  @if($bounce-out) {
    $animation-name: letterBounceInOut;
  } @else {
    $animation-name: letterBounceIn;
  }

  .letter {
    display: inline-block;
    opacity: 0;
    animation: {
      name: $animation-name;
      duration: $duration;
      timing-function: cubic-bezier(0, .01, 0, 1);
      fill-mode: forwards;
    }

    @for $i from 1 to 400 {
      &:nth-child(#{$i}) {
        animation-delay: $delay + $i * 0.007s;
      }
    }

    @keyframes letterBounceIn {
      0% {
        opacity: 0;
        transform: translateY(18rem) translateZ(0);
      }
      100% {
        opacity: 1;
        transform: translateY(0) translateZ(0);
      }
    }

    @keyframes letterBounceInOut {
      0% {
        opacity: 0;
        transform: translateY(200%) translateZ(0);
      }
      15% {
        opacity: 1;
        transform: translateY(0) translateZ(0);
      }
      85% {
        opacity: 1;
        transform: translateY(0) translateZ(0);
      }
      100% {
        opacity: 0;
        transform: translateY(-200%) translateZ(0);
      }
    }
  }
}
